/* This gets Google to fall into place */
/*.social-share {
    text-align-last:center;
}*/

    /* This gets Facebook to fall into place */
    .social-share iframe {
        vertical-align: middle;
        float: right;
    }



#facebook
{
float:right;
}
.fb-share-button {
    margin-right: 20px;
    margin-left: 20px;
}
/* Set an optional width for your button wrappers */
.social-share span {
    display: inline-block;
    width: 110px;
}

/* Adjust the widths individually if you like */
.social-share .google {
    width: 75px;
}

